<table>
  <tr>
    <th>Автор</th>
    <th>Название</th>
  </tr>
  <tbody>
  <tr *ngFor="let book of pageOfBooks">
    {{ getAuthor(book.author) }}
    <td *ngIf="currentAuthor">
      <a routerLink="/authors/{{ currentAuthor.id }}">{{ currentAuthor.name }}</a>
    </td>
    <td><a routerLink="/books/{{ book.id }}">{{ book.title }}</a></td>
  </tr>
  </tbody>
</table>
<app-custom-paginator [length]=length
                      (pageEvent)="pageEvent = getServerData($event)"></app-custom-paginator>
<p>
  <a routerLink="/books/new">Добавить книгу</a>
</p>
