<div class="top-navigation">
  <button routerLink="/authors">Авторы</button>
  <button routerLink="/books">Книги</button>
  <button [disabled]="true">Поиск</button>
  <button routerLink="" id="bookwarm-header">{{ title }}</button>
  <button routerLink="/genres">Жанры</button>
  <button routerLink="/cycles">Циклы</button>
  <div class="dropdown">
    <button routerLink="/profile">Профиль</button>
    <div class="dropdown-content">
      <button routerLink="/users/sign-in">Войти</button>
      <button routerLink="/users/sign-up">Зарегистрироваться</button>
    </div>
  </div>

</div>
<div>
  <router-outlet></router-outlet>
</div>
