.top-navigation {
  text-align: center;
  position: sticky;
  top: 0;
}

.top-navigation button {
  font-family: 'Press Start 2P', cursive;
  background: none;
  border: none;
  padding: 7px;
}

.top-navigation button:hover {
  background: rgba(255, 240, 210, .5);
}

#bookwarm-header {
  font-size: 48px;
  border: none;
  position: relative;
  top: 18px;
}
