<div class="container">
  <table>
    <tr>
      <th><h3>Авторы</h3></th>
    </tr>
    <tbody>
    <tr *ngFor="let author of pageOfAuthors">
      <input type="checkbox"
                 [hidden]="checkboxesHidden"
                 (change)="selectAuthor(author.id)">
      <td><a routerLink="/authors/{{ author.id }}">{{ author.name }}</a></td>
    </tr>
    </tbody>
  </table>
  <button routerLink="/authors/create" [hidden]="!admin">Добавить</button>
  <button (click)="deleteAuthors()" [hidden]="!admin">Удалить</button>
  <app-custom-paginator [length]=length
                        (pageEvent)="pageEvent = getServerData($event)"></app-custom-paginator>
</div>

