<table>
  <tr>
    <th>Список авторов:</th>
  </tr>
  <tbody>
  <tr *ngFor="let author of pageOfAuthors">
    <td><a routerLink="/authors/{{ author.id }}">{{ author.name }}</a></td>
  </tr>
  </tbody>
</table>
<mat-paginator [length]=length
               [pageSize]=pageSize
               [pageSizeOptions]=pageSizeOptions
               [showFirstLastButtons]="true"
               (page)="pageEvent = getServerData($event)"
               aria-label="Select page">
</mat-paginator>
<p>
  <a routerLink="/authors/new">Добавить автора</a>
</p>
