<h2>Список циклов:</h2>
<ul *ngFor="let cycle of pageOfCycles">
  <mat-expansion-panel *ngIf="cycle.id != 1">
    <mat-expansion-panel-header>
      {{ cycle.name }}
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-cycle-detail [cycle]="cycle"></app-cycle-detail>
    </ng-template>
  </mat-expansion-panel>
</ul>
<app-custom-paginator [length]=length
                      (pageEvent)="pageEvent = getServerData($event)"></app-custom-paginator>
<button (click)="formHidden = false" [hidden]="!formHidden">Добавить цикл</button>
<app-cycle-form [hidden]="formHidden" (formSubmitted)="submitCycle($event)"></app-cycle-form>
