<h2>Список жанров:</h2>
<table>
  <tbody>
    <tr *ngFor="let genre of pageOfGenres">
      <td>
        <mat-checkbox *ngIf="!checkboxesHidden"
                    (change)="selectGenre(genre.id)"></mat-checkbox>
      </td>
      <td>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{ genre.name }}
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-genre-detail [genre]="genre"></app-genre-detail>
          </ng-template>
        </mat-expansion-panel>
      </td>
    </tr>
  </tbody>
</table>
<app-custom-paginator [length]=length
                      (pageEvent)="pageEvent = getServerData($event)"></app-custom-paginator>
<button (click)="formHidden = false" [hidden]="!formHidden">Добавить жанр</button>
<app-genre-form [hidden]="formHidden" (formSubmitted)="submitGenre($event)"></app-genre-form>
<button (click)="deleteGenres()">Удалить жанры</button>
