<h2>Список жанров:</h2>
<ul *ngFor="let genre of pageOfGenres">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      {{ genre.name }}
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-genre-detail [genre]="genre"></app-genre-detail>
    </ng-template>
  </mat-expansion-panel>
</ul>
<app-custom-paginator [length]=length
                      (pageEvent)="pageEvent = getServerData($event)"></app-custom-paginator>
<p>
  <button (click)="displayForm()" [hidden]="!formHidden">Добавить жанр</button>
</p>
<app-genre-form [hidden]="formHidden" (formSubmitted)="submitGenre($event)"></app-genre-form>
